.banner {
  block-size: 21rem;
}

.containerMovie {
  inline-size: 100%;
  block-size: 20rem;
}

.containerMovie::-webkit-scrollbar {
  display: none;
}

.movie-banner {
  inline-size: 85%;
  grid-template-columns: 1rem 16rem;
  grid-template-rows: auto 4rem 6rem;
  grid-template-areas: '. .''.play''. add';
  gap: 1rem;
}

.selectedBanner a div {
  background: var(--grey);
}

.selectedBanner a:active div {
  background: var(--white);
}

.selectedBanner a:hover div {
  background: var(--white);
}

@media screen and (min-width: 1200px) {
  .banner {
    block-size: 31rem;
  }

  .containerMovie {
    inline-size: 105%;
    block-size: 30rem;
  }

  .movie-banner {
    inline-size: 100%;
    grid-template-columns: 1rem 16rem 16rem;
    grid-template-rows: auto 6rem;
    grid-template-areas: '. . .''. play add';
    gap: 1rem;
  }
}