.banner {
  block-size: 21rem;
}

.container-movie-banner {
  inline-size: 100%;
  block-size: 20rem;
}

.container-movie-banner::-webkit-scrollbar {
  display: none;
}

.movie-banner {
  inline-size: 150%;
  grid-template-columns: 1rem minmax(8rem, 16rem) 1rem;
  grid-template-rows: auto 4rem 6rem;
  grid-template-areas: '. .''.play''. add';
  gap: 1rem;
}

.button-banner p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.selected-banner a div {
  background: var(--grey);
}

.selected-banner a:active div {
  background: var(--white);
}

.selected-banner a:hover div {
  background: var(--white);
}

@media screen and (min-width: 1200px) {
  .banner {
    block-size: 31rem;
  }

  .container-movie-banner {
    inline-size: 105%;
    block-size: 30rem;
  }

  .movie-banner {
    inline-size: 95%;
    grid-template-columns: 1rem 16rem 16rem;
    grid-template-rows: auto 6rem;
    grid-template-areas: '. . .''. play add';
    gap: 1rem;
  }
}