.list-nav {
  display: none;
}

.search {
  display: none;
}


.icons-mobile {
  display: block;
}

@media screen and (min-width: 1200px) {

  .list-nav {
    display: flex;
  }

  .icons-mobile {
    display: none;
  }

  .search {
    display: flex;
  }

}