.list-nav {
  display: none;
}

form {
  display: none;
}

.icons-mobile {
  display: block;
}

@media screen and (min-width: 1200px) {

  .list-nav {
    display: flex;
  }

  .icons-mobile {
    display: none;
  }

  form {
    display: flex;
  }

}