.nav {
  display: none;
}

.search {
  display: flex;
}

.containerButtonsMobile{
  display: flex;
}

@media screen and (min-width: 1200px) {

  .nav {
    display: flex;
  }

  .search {
    display: flex;
  }

  .containerButtonsMobile {
    display: none;
  }
}